 <header class="justify-content-between gradient-bg-transactions" >
    
        <div class="container bg-dark">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="display-4 " style="font-family: Georgia">Govind Jha</h1>
                    <p class="lead" >Full Stack Developer</p>
                </div>
                <div class="col-md-6 text-md-right">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <ul class="nav">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-light">
                    <a class="nav-link" href="/"><b>Home</b></a>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-light">
                    <a class="nav-link" href="/weather"><b>Weather</b></a>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-light">
                    <a class="nav-link" href="/about"><b>About</b></a>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-light" onclick="gotothispath()">
                    <a class="nav-link" href="/projects"><b>Projects</b></a>
                </button>
            </li>
        </ul>
    </div>
</div>

            </div>
        </div>
    </header>